.login {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 64px);
  background-image: url('../login/img/background.png');
  background-size: cover;

  .loginWrapper {
    width: 390px;
    margin-top: 88px;
    background-color: #fff;
    .logo {
      text-align: center;
      padding: 25px 0;
      background-color: #FAFAFA;

      img {
        height: 18px;
      }
    }

    .tabs {
      padding-top: 12px;
      background-color: #fff;
    }
  }
  :global {
  .ant-tabs-nav {
    margin-bottom: 24px !important;

    &::before {
      display: none;
    }

    .ant-tabs-nav-list {
      width: 100%;
      justify-content: center;

      .ant-tabs-tab.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          color: #0F62F0;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          /* 140% */
        }
      }

      .ant-tabs-tab-btn {
        color: #333;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        /* 140% */
      }

      .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
        height: 3px;
        background: #0F62F0;
      }
    }
  }
}
}

.formWrapper {
  padding: 0 40px;
}



.myInput {
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, .3) !important;
  border-radius: 0;
  outline: none;
  box-shadow: unset;

  &:hover,
  &:focus {
    border-bottom: 1px solid rgba(51, 51, 51, .3) !important;
    box-shadow: unset;
  }
}
.fogetPd{
  text-align: right;
  color: #0F62F0;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px;
cursor: pointer;
}
.myItem{
  margin-bottom: 10px;
}
.btn{
  padding:11px;
  background: #0F62F0;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  cursor: pointer;
  // margin-bottom: 20px;
}
.agreement{
  padding-bottom: 49px;
  span{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
}
.loginFooter{
  color: #0F62F0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  padding: 33px 0;
  background: radial-gradient(405% 62.31% at 50% 0%, #EBF3FF 0%, rgba(235, 243, 255, 0.10) 100%);
  border-top: 2px solid rgba(51, 51, 51, .1);
  cursor: pointer;
}
.btnBox{
  margin-bottom: 20px;
}
.inputBox{
  position: relative;
  .code{
    position: absolute;
    top: 4px;
    right: 0;
    color: #0F62F0;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
  }
  .disabled{
opacity: .6;
  }
}
