.ClickBtn{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background: #F7FAFF;
  .ClickBtnItem{
    background-image: url('./img/RectangleCli.png');
    width: 1500px;
    height: 90px;
    align-items: center;
    font-size: 25px;
    color: #F7FAFF;
    // margin-left: 10px;
  }
}
