.BtnAera{
    display: flex;
    flex-direction: column;
    width: 95%;
    // aspect-ratio: auto 1080/280;
    aspect-ratio: auto 2160/480;

    background-repeat: no-repeat;
    // background-image: url('./img/TestPic1.svg');
    background-size: cover;
    .Area1{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        flex-direction: row;
        transform: translate(4.05%,129%);

        position: relative;

        // font-size: ;
        .Text1{
            font-size: 33px;
            // font-size: 2.25rem;
            // font-size: 3vh;
        }
        .btn1 {
            box-sizing: border-box;
            position: absolute;
            // width: 119px;
            // height: 42px;
            // width: 160px;
            aspect-ratio: auto 5.4/1;
            width: 15%;
            // height: 7.4%;
            // height: 53px;
            z-index: 3;

            border-radius: 4px;
            box-shadow: 0px 5px 4.8px rgba(117, 114, 114, 0.25);
            border: 1px solid transparent;
            background-clip: padding-box,border-box;
            background-origin: padding-box,border-box;
            background-image:
                linear-gradient(109.35deg, #FFFFFF -41.5%, #FFFFFF -2.82%, #FFFFFF 163.9%, #FFFFFF 225.26%),
                linear-gradient(155deg, #FFFFFF, #A19F9F);

            display: flex;
            align-items: center;
            justify-content: center;
            // width: 119px;
            // height: 42px;
            padding: 11px 0;
            color: #333;
            text-align: center;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            // background-color: #fff;
            cursor: pointer;
            transform: translate(73%,0%);
            // transform: translate(56%,-175%);
            &:hover {
            color: #2666e8
            }
      }
    }


    .Area2{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        flex-direction: row;
        transform: translate(4.05%,275%);

        position: relative;
        // font-size: ;
        .Text2{
            font-size: 33px;
            // font-size: 2.25rem;
            // font-size: 3vh;
        }
        .btn2 {
            box-sizing: border-box;
            position: absolute;
            // width: 119px;
            // height: 42px;
            // width: 160px;
            aspect-ratio: auto 5.4/1;
            width: 15%;
            // height: 7.4%;
            // height: 53px;
            z-index: 3;

            border-radius: 4px;
            box-shadow: 0px 5px 4.8px rgba(117, 114, 114, 0.25);
            border: 1px solid transparent;
            background-clip: padding-box,border-box;
            background-origin: padding-box,border-box;
            background-image:
                linear-gradient(109.35deg, #FFFFFF -41.5%, #FFFFFF -2.82%, #FFFFFF 163.9%, #FFFFFF 225.26%),
                linear-gradient(155deg, #FFFFFF, #A19F9F);

            display: flex;
            align-items: center;
            justify-content: center;
            // width: 119px;
            // height: 42px;
            padding: 11px 0;
            color: #333;
            text-align: center;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            // background-color: #fff;
            cursor: pointer;
            transform: translate(73%,0%);
            // transform: translate(56%,-175%);
            &:hover {
            color: #2666e8
            }
        }
        .btn3 {
            box-sizing: border-box;
            position: absolute;
            // width: 119px;
            // height: 42px;
            // width: 160px;
            aspect-ratio: auto 5.4/1;
            width: 15%;
            // height: 7.4%;
            // height: 53px;
            z-index: 3;

            border-radius: 4px;
            box-shadow: 0px 5px 4.8px rgba(117, 114, 114, 0.25);
            border: 1px solid transparent;
            background-clip: padding-box,border-box;
            background-origin: padding-box,border-box;
            background-image:
                linear-gradient(109.35deg, #FFFFFF -41.5%, #FFFFFF -2.82%, #FFFFFF 163.9%, #FFFFFF 225.26%),
                linear-gradient(155deg, #FFFFFF, #A19F9F);

            display: flex;
            align-items: center;
            justify-content: center;
            // width: 119px;
            // height: 42px;
            padding: 11px 0;
            color: #333;
            text-align: center;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            // background-color: #fff;
            cursor: pointer;
            transform: translate(173%,0%);
            // transform: translate(56%,-175%);
            &:hover {
            color: #2666e8
            }
        }
    }

    .Area3{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        flex-direction: row;
        transform: translate(39%,900%);
        position: absolute;
        // margin-right: 0;
        // padding-right: 0;
        // border-right: none;
        // overflow: auto;
        .Text1{
            font-size: 150%;
            // position: absolute;
        }
        .cusmDesc{
            display: flex;
            align-items: center;
            flex-direction: row;
            .Text2{
                font-size: 150%;
                color: #074fcb;
            }
            img{
                // width: 20%;
                transform: translate(50%,0%);
            }
        }
    }
}
