.draggableSidebar {
  position: relative; /* 或 absolute，根据需要 */
  top: 0;
  left: 0;
  height: 100%; /* 根据需要调整 */
  background-color: #fff; /* 背景颜色 */
  overflow: auto; /* 如果内容过多，显示滚动条 */
  user-select: none; /* 防止文本被选中 */


  .draggableHandle {
    position: absolute; /* 使这个元素相对于父元素定位 */
    // position: relative; /* 使这个元素相对于父元素定位 */
    top: 0; /* 定位在顶部 */
    right: 0; /* 定位在右侧 */
    width: 10px; /* 拖动把手的宽度 */
    height: 100%; /* 与父元素同高 */
    cursor: col-resize; /* 鼠标指针变为可拖动图标 */
  }
}


